<div data-ng-controller="listNotesController">
	
              <div class="panel panel-full-alt3" data-ng-repeat="note in notes">
                <div class="panel-heading">
                  <div>
                  	<span class="title">{{note.title}}</span>
                  	<a class="btn btn-xs btn-primary pull-right" href="#/editNote/{{note.key}}"><i class="icon-star"></i> Open</a>
                  	<date>{{note.date | date : format : timezone}}</date>
                  	
                  </div>
                </div>
                <div class="panel-body">
                  <div data-ng-bind-html="note.content | trusthtml"></div>
                  
                </div>
              </div>
</div>