<div ng-controller="listNotesController">
	
              <div class="panel panel-full-alt3" ng-repeat="note in notes">
                <div class="panel-heading">
                  <div class="tools"><a href="#/editNote/{{note.key}}" class="pull-right"><i class="glyphicon glyphicon-cog"></i></a><span class="title">{{note.title}}</span></div>
                </div>
                <div class="panel-body">
                  <p>{{note.content}}</p>
                  
                </div>
              </div>
    
</div>